<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[log4j2] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
    
<!--     	<Logger name="org.springframework.core" 		level="ERROR" additivity="false" > -->
<!--             <AppenderRef ref="console" /> -->
<!--     	</Logger> -->
<!--     	<Logger name="org.springframework.beans" 		level="ERROR" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--     	</Logger> -->
<!--     	<Logger name="org.springframework.context" 		level="ERROR" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--     	</Logger> -->
<!--     	<Logger name="org.springframework.web" 			level="ERROR" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--     	</Logger> -->
<!--     	<Logger name="test_project" 					level="DEBUG" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--     	</Logger> -->
    	
        <Root level="DEBUG" additivitiy="true">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
